"" Settings ========================================================
set scrolloff=1000
set incsearch
set hlsearch
set ignorecase
set smartcase
set relativenumber
set number
set autoindent
set nowrap
set history=1000
set showcmd
set showmode
set visualbell
set signcolumn=yes
set backspace=indent,eol,start
set clipboard+=unnamedplus
set clipboard+=unnamed
set clipboard+=ideaput
set splitright
set splitbelow
set iskeyword+=-
set ideajoin
set idearefactormode=keep
set ideastatusicon=gray
let mapleader=" "

sethandler <C-i> n-v-i:vim
sethandler <C-o> n-v-i:vim
sethandler <C-d> n-v-i:vim
sethandler <C-u> n-v-i:vim
sethandler <C-h> n-v-i:vim
sethandler <C-j> n-v-i:vim
sethandler <C-k> n-v-i:vim
sethandler <C-l> n-v-i:vim


"" Key mappings ====================================================
"  Recursive
map H ^
map L $

" Insert
inoremap jk <Esc>

" Normal
nnoremap n nzzzv
nnoremap N Nzzzv
nnoremap x "_x
nnoremap <C-c> ggVG
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-o> <C-o>zz
nnoremap <C-i> <C-i>zz
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j
nnoremap <leader>9 :source ~/.ideavimrc<cr>
nnoremap <leader>n :nohlsearch<CR>

" Visual
vnoremap ő <gv
vnoremap ú >gv
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
vnoremap x "_x
vnoremap <leader>d "_d
vnoremap <leader>c "_c
vnoremap <leader>p "_dP

" Navigation
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" Window navigation (leader w)
nnoremap <leader>wv :action SplitVertically<cr>
nnoremap <leader>ws :action SplitHorizontally<cr>
nnoremap <leader>wd :action Unsplit<cr>
nnoremap <leader>wo :action MoveEditorToOppositeTabGroup<cr>
nnoremap <Leader>wn :action EditSourceInNewWindow<cr>  
nnoremap <leader>wm :action MaximizeEditorInSplit<CR>
nnoremap <leader>wp :action PinActiveTab<CR>

" Goto (r)
nnoremap gd :action GotoDeclaration<cr>
nnoremap gy :action GotoTypeDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gs :action GotoSuperMethod<cr>
nnoremap gr :action ShowUsages<cr>
nnoremap gR :action FindUsages<cr>
nnoremap gt :action GotoTest<cr>

" Documentation
nnoremap K :action QuickJavaDoc<cr>

" Code (leader c)
nnoremap <leader>cu :action HighlightUsagesInFile<cr>
nnoremap <leader>cc :action CallHierarchy<CR>  
nnoremap <leader>cn :action ShowNavBar<CR>
nnoremap <leader>cf :action ReformatCode<cr>:action RearrangeCode<cr>:action OptimizeImports<cr>
nnoremap <leader>cb :action CompileDirty<CR> 
nnoremap <leader>cm :action ExternalSystem.ProjectRefreshAction<CR> 
nnoremap <leader>cp :action ParameterInfo<CR>
nnoremap <leader>cd :action SafeDelete<CR>
nnoremap <leader>ci :action InvertBoolean<CR>
nnoremap <leader>ck :action MethodUp<CR>
nnoremap <leader>cj :action MethodDown<CR>
nnoremap <leader>cK :action MoveStatementUp<CR>
nnoremap <leader>cJ :action MoveStatementDown<CR>
nnoremap <leader>ch :action MoveElementLeft<CR>
nnoremap <leader>cl :action MoveElementRight<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>

" Location (leader l)
nnoremap <leader>lr :action RecentLocations<CR>
nnoremap <leader>lh :action LocalHistory.ShowHistory<CR>

" Find (leader f)
nnoremap n :nohlsearch<cr>
nnoremap <leader>fc :action GotoClass<cr>
nnoremap <leader>ff :action GotoFile<cr>
nnoremap <leader>fp :action ManageRecentProjects<cr>
nnoremap <leader>fa :action GotoAction<cr>
nnoremap <leader>fg :action FindInPath<cr>
nnoremap <leader>fh :action RecentFiles<cr>
nnoremap <leader>fm :action RecentLocations<cr>
nnoremap <leader>fs :action GotoSymbol<cr>
nnoremap <leader>fd :action Find<cr>
nnoremap <leader>fr :action Replace<cr>
nnoremap <leader>fR :action ReplaceInPath<cr>
nnoremap <leader>fx :action PasteMultiple<cr>
nnoremap <leader>ft :action ActivateTODOToolWindow<cr>

" Views (leader v)
nnoremap <leader>vf :action ActivateProjectToolWindow<cr>
nnoremap <leader>vd :action ActivateDatabaseToolWindow<cr>
nnoremap <leader>vq :action CloseActiveTab<cr>
nnoremap <leader>vp :action ActivateProblemsViewToolWindow<cr>
nnoremap <leader>vs :action ActivateStructureToolWindow<cr>
nnoremap <leader>vt :action ActivateTerminalToolWindow<cr>
nnoremap <leader>vv :action ActivateServicesToolWindow<cr>
nnoremap <leader>vD :action ActivateDebugToolWindow<cr>
nnoremap <leader>vb :action ActivateBuildToolWindow<cr>
nnoremap <leader>vg :action ActivateVersionControlToolWindow<cr>
nnoremap <leader>vM :action ActivateMessagesToolWindow<cr>
nnoremap <leader>vo :action ActivateTODOToolWindow<cr>
nnoremap <leader>vm :action ActivateMavenToolWindow<cr>
nnoremap <leader>vc :action ActivateCoverageToolWindow<cr>
nnoremap <leader>ve :action ActivateEndpointsToolWindow<cr>
nnoremap <leader>vP :action ActivateProfilerToolWindow<cr>
nnoremap <leader>vq :action CloseActiveTab<cr>
nnoremap <leader>vC :action ActivateVcsChangesToolWindow<cr>

" Display Modes (leader m)
nnoremap <leader>md :action ToggleDistractionFreeMode<cr>
nnoremap <leader>mz :action ToggleZenMode<cr>
nnoremap <leader>mf :action ToggleFullScreen<cr>
nnoremap <leader>mt :action ToggleRenderedDocPresentation<cr>

" Debug (leader d)
nnoremap <leader>dt :action Debug<cr>
nnoremap <leader>dj :action ContextDebug<cr>
nnoremap <leader>dE :action ChooseDebugConfiguration<cr>
nnoremap <leader>dr :action Run<cr>
nnoremap <leader>dl :action ContextRun<CR>
nnoremap <leader>dR :action ChooseRunConfiguration<cr>
nnoremap <leader>dk :action Stop<cr>
nnoremap <leader>db :action ToggleLineBreakpoint<cr>
nnoremap <leader>dm :action XDebugger.MuteBreakpoints<cr>
nnoremap <leader>dd :action Debugger.RemoveAllBreakpoints<cr>
nnoremap <leader>ds :action ViewBreakpoints<cr>
nnoremap <leader>dO :action StepOver<cr>
nnoremap <leader>di :action StepInto<cr>e
nnoremap <leader>do :action StepOut<cr>
nnoremap <leader>dc :action Resume<cr>
nnoremap <leader>dx :action QuickEvaluateExpression<cr>
nnoremap <leader>de :action EvaluateExpression<cr>
nnoremap <leader>dw :action Debugger.AddToWatch<cr>

" Refactoring (leader r)
nnoremap <leader>re :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rv :action IntroduceVariable<cr>
nnoremap <leader>rc :action IntroduceConstant<cr>
nnoremap <leader>rf :action IntroduceField<cr>
nnoremap <leader>rp :action IntroduceParameter<cr>
nnoremap <leader>rx :action ExtractMethod<cr>
nnoremap <leader>ro :action OptimizeImports<cr>
nnoremap <leader>ri :action Inline<cr>
nnoremap <leader>rs :action ChangeSignature<cr>
nnoremap <leader>ra :action AnonymousToInner<cr>
nnoremap <leader>rm :action Move<cr>

" Source generation (leader s)
nnoremap <leader>sa :action Generate<CR>
nnoremap <leader>sc :action GenerateConstructor<cr>
nnoremap <leader>sg :action GenerateGetterAndSetter<cr>
nnoremap <leader>se :action GenerateEquals<cr>
nnoremap <leader>so :action OverrideMethods<cr>
nnoremap <leader>sn :action NewClass<cr>
nnoremap <leader>sf :action NewFile<cr>

" Errors and diagnostics (leader e)
nnoremap <leader>ek :action GotoNextError<cr>
nnoremap <leader>ej :action GotoPreviousError<cr>
nnoremap <leader>ed :action ShowErrorDescription<cr>

" Git (leader g)
nnoremap <leader>gd :action Compare.LastVersion<cr>
nnoremap <leader>gj :action NextDiff<cr>
nnoremap <leader>gk :action PreviousDiff<cr>
nnoremap <leader>gb :action Git.Branches<CR>

" File explorer
nnoremap <leader>1 :NERDTree<CR>
nnoremap <leader>2 :action SelectInProjectView<CR>

" Acejump
map s :action AceAction<cr>


" Plugin Settings ==================================================
set commentary
set surround
set highlightedyank
set sneak
set nerdtree
set argtextobj
set multicursor
set ideajoin
set ideamarks
set sneak
set quickscope
set argtextobj
set notimeout
set which-key

" Which-key settings
let g:WhichKey_FontSize = 22
let g:WhichKey_CommandColor = "#41ead4"
let g:WhichKey_PrefixColor = "#f335b2"
let g:WhichKey_SortOrder = "by_key_prefix_first"

" General descriptions
let g:WhichKeyDesc_leader = "<leader> Leader key"
let g:WhichKeyDesc_source = "<leader>9 Source .ideavimrc"
let g:WhichKeyDesc_acejump = "s Acejump"
let g:WhichKeyDesc_nohlsearch = "<leader>n Clear search highlght"
let g:WhichKeyDesc_leader_deleteargument = "<leader>x Delete function argument"
let g:WhichKeyDesc_leader_changeargument = "<leader>a Change function argument"
let g:WhichKeyDesc_leader_replacewithpaste = "<leader>p Replace with paste"
let g:WhichKeyDesc_leader_changeparentheses = "<leader>/ Change inside parentheses"
let g:WhichKeyDesc_leader_changequotes = "<leader>z Change inside quotes"
let g:WhichKeyDesc_leader_changeword = "<leader>c Change whole word"
let g:WhichKeyDesc_leader_newline = "<leader>o New line in normal mode"
let g:WhichKeyDesc_leader_newprevline = "<leader>O New line before in normal mode"

" Goto descriptions
let g:WhichKeyDesc_goto_declaration = "gd Go to declaration"
let g:WhichKeyDesc_goto_typedeclaration = "gy Go to type declaration"
let g:WhichKeyDesc_goto_implementation = "gi Go to implementation"
let g:WhichKeyDesc_goto_supermethod = "gs Go to super method"
let g:WhichKeyDesc_goto_usages = "gr Show usages"
let g:WhichKeyDesc_goto_findusages = "gR Find usages"

" Windows and buffers (leader w)
let g:WhichKeyDesc_leader_window = "<leader>w Window actions"
let g:WhichKeyDesc_window_splitvertical = "<leader>wv Split vertically"
let g:WhichKeyDesc_window_splithorizontal = "<leader>ws Split horizontally"
let g:WhichKeyDesc_window_splitundo = "<leader>wd Delete window"
let g:WhichKeyDesc_window_movetooppositetabgroup = "<leader>wo Move editor to opposite tab group"
let g:WhichKeyDesc_window_editinnewwindow = "<leader>wn Edit in new window"
let g:WhichKeyDesc_window_maximize = "<leader>wm Maximize window"
let g:WhichKeyDesc_window_pin_active_tab = "<leader>wp Pin active tab"

" Macros and registers
let g:WhichKeyDesc_leader_executequickmacro = "<leader>q Execute macro stored in 'q' register"

" Finder (leader f)
let g:WhichKeyDesc_leader_finder = "<leader>f Finder actions"
let g:WhichKeyDesc_finder_class = "<leader>fc Find class"
let g:WhichKeyDesc_finder_actions = "<leader>fa Find actions"
let g:WhichKeyDesc_finder_projects = "<leader>fp Find recent projects"
let g:WhichKeyDesc_finder_file = "<leader>ff Find files (Name)"
let g:WhichKeyDesc_finder_grep = "<leader>fg Find in files (Grep)"
let g:WhichKeyDesc_finder_history = "<leader>fh Find recent files (History)"
let g:WhichKeyDesc_finder_location = "<leader>fm Find recent locations (Marks)"
let g:WhichKeyDesc_finder_symbol = "<leader>fs Find symbol"
let g:WhichKeyDesc_finder_find = "<leader>fd Find in current file"
let g:WhichKeyDesc_finder_replace = "<leader>fr Find and replace in current file"
let g:WhichKeyDesc_finder_replaceinfiles = "<leader>fR Find and replace in files"
let g:WhichKeyDesc_finder_clipboard = "<leader>fx Find in clipboard"
let g:WhichKeyDesc_finder_todo = "<leader>ft Find in TODO list"

" Views (leader v)
let g:WhichKeyDesc_leader_views = "<leader>v View actions"
let g:WhichKeyDesc_views_project = "<leader>vf Project view"
let g:WhichKeyDesc_views_database = "<leader>vd Database view"
let g:WhichKeyDesc_views_problems = "<leader>vp Problems and diagnostics view"
let g:WhichKeyDesc_views_structure = "<leader>vs Structure view"
let g:WhichKeyDesc_views_terminal = "<leader>vt Terminal"
let g:WhichKeyDesc_views_services = "<leader>vv Services view"
let g:WhichKeyDesc_views_git = "<leader>vg Git view"
let g:WhichKeyDesc_views_debug = "<leader>vD Debug view"
let g:WhichKeyDesc_views_build = "<leader>vb Build view"
let g:WhichKeyDesc_views_changes = "<leader>vC Changes view"
let g:WhichKeyDesc_views_messages = "<leader>vM Messages view"
let g:WhichKeyDesc_views_todo = "<leader>vo TODO view"
let g:WhichKeyDesc_views_maven = "<leader>vm Maven view"
let g:WhichKeyDesc_views_coverage = "<leader>vc Coverage view"
let g:WhichKeyDesc_endpoints = "<leader>ve Endpoints view"
let g:WhichKeyDesc_profiler = "<leader>vP Profiler view"
let g:WhichKeyDesc_views_close = "<leader>vq Close view"

" Debug (leader d)
let g:WhichKeyDesc_leader_debug = "<leader>d Debug actions"
let g:WhichKeyDesc_debug_debug = "<leader>dt Start debugging"
let g:WhichKeyDesc_debug_contextdebug = "<leader>dj Context debug"
let g:WhichKeyDesc_debug_choosedebug = "<leader>dE Choose debug configuration"
let g:WhichKeyDesc_debug_run = "<leader>dr Run"
let g:WhichKeyDesc_debug_contextrun = "<leader>dl Context run"
let g:WhichKeyDesc_debug_chooserun = "<leader>dR Choose run configuration"
let g:WhichKeyDesc_debug_stop = "<leader>dk Stop (Kill)"
let g:WhichKeyDesc_debug_togglelinebreakpoint = "<leader>db Toggle line breakpoint"
let g:WhichKeyDesc_debug_muteallbreakpoints = "<leader>dm Mute all breakpoints"
let g:WhichKeyDesc_debug_showbreakpoints = "<leader>ds Display all breakpoints"
let g:WhichKeyDesc_debug_removeallbreakpoints = "<leader>dd Remove all breakpoints"
let g:WhichKeyDesc_debug_stepover = "<leader>dO Step over"
let g:WhichKeyDesc_debug_stepinto = "<leader>di Step into"
let g:WhichKeyDesc_debug_stepout = "<leader>do Step out"
let g:WhichKeyDesc_debug_continue = "<leader>dc Resume"
let g:WhichKeyDesc_debug_quickevaluate = "<leader>dx Quick evaluate expression"
let g:WhichKeyDesc_debug_evaluate = "<leader>de Evaluate expression"
let g:WhichKeyDesc_debug_watch = "<leader>dw Add to watch"

" Code (leader c)
let g:WhichKeyDesc_leader_code = "<leader>c Code actions"
let g:WhichKeyDesc_code_highlightusages = "<leader>cu Highlight usages in file"
let g:WhichKeyDesc_code_callhierarchy = "<leader>cc Show call hierarchy"
let g:WhichKeyDesc_code_navbar = "<leader>cn Show navigation bar"
let g:WhichKeyDesc_refactor_formatcode = "<leader>cf Format code"
let g:WhichKeyDesc_code_compile = "<leader>cb Compile dirty"
let g:WhichKeyDesc_code_refresh = "<leader>cm Refresh project"
let g:WhichKeyDesc_code_parameterinfo = "<leader>cp Parameter info"
let g:WhichKeyDesc_code_safedelete = "<leader>cd Safe delete"
let g:WhichKeyDesc_code_invertboolean = "<leader>ci Invert boolean"
let g:WhichKeyDesc_code_methodup = "<leader>ck Move method up"
let g:WhichKeyDesc_code_methoddown = "<leader>cj Move method down"
let g:WhichKeyDesc_code_movestatementup = "<leader>cK Move statement up"
let g:WhichKeyDesc_code_movestatementdown = "<leader>cJ Move statement down"
let g:WhichKeyDesc_code_moveelementleft = "<leader>ch Move element left"
let g:WhichKeyDesc_code_moveelementright = "<leader>cl Move element right"
let g:WhichKeyDesc_code_showintentionactions = "<leader>ca Show intention actions"

" Refactoring (leader r)
let g:WhichKeyDesc_leader_refactor = "<leader>r Refactoring actions"
let g:WhichKeyDesc_refactor_showactions = "<leader>re Show actions"
let g:WhichKeyDesc_refactor_renameelement = "<leader>rn Rename element"
let g:WhichKeyDesc_refactor_introducevariable = "<leader>rv Introduce variable"
let g:WhichKeyDesc_refactor_introduceconstant = "<leader>rc Introduce constant"
let g:WhichKeyDesc_refactor_introducefield = "<leader>rf Introduce field"
let g:WhichKeyDesc_refactor_introduceparameter = "<leader>rp Introduce parameter"
let g:WhichKeyDesc_refactor_extractmethod = "<leader>rx Extract method"
let g:WhichKeyDesc_refactor_optimizeimports = "<leader>ro Optimize imports"
let g:WhichKeyDesc_refactor_inline = "<leader>ri Inline"
let g:WhichKeyDesc_refactor_changesignature = "<leader>rs Change signature"
let g:WhichKeyDesc_refactor_anonymoustoinner = "<leader>ra Anonymous to inner"
let g:WhichKeyDesc_refactor_move = "<leader>rm Move"

" Source generation (leader s)
let g:WhichKeyDesc_leader_source = "<leader>s Source generation actions"
let g:WhichKeyDesc_source_actions = "<leader>sa Show source generation actions"
let g:WhichKeyDesc_source_constructor = "<leader>sc Generate constructor"
let g:WhichKeyDesc_source_gettersetter = "<leader>sg Generate getters and setters"
let g:WhichKeyDesc_source_equals = "<leader>se Generate equals and hashCode"
let g:WhichKeyDesc_source_override = "<leader>so Override methods"
let g:WhichKeyDesc_source_newclass = "<leader>sn New class"
let g:WhichKeyDesc_source_newfile = "<leader>sf New file"

" Errors and diagnostics (leader e)
let g:WhichKeyDesc_leader_error = "<leader>e Error and diagnostics actions"
let g:WhichKeyDesc_error_next = "<leader>ek Go to next error"
let g:WhichKeyDesc_error_previous = "<leader>ej Go to previous error"
let g:WhichKeyDesc_error_description = "<leader>ed Show error description"

" Git (leader g)
let g:WhichKeyDesc_leader_git = "<leader>g Git actions"
let g:WhichKeyDesc_leader_diff = "<leader>gd Show differences"
let g:WhichKeyDesc_leader_nextdiff = "<leader>gj Next difference"
let g:WhichKeyDesc_leader_previousdiff = "<leader>gk Previous difference"
let g:WhichKeyDesc_leader_branches = "<leader>gb Branches"

" File explorer
let g:WhichKeyDesc_leader_fileexplorer = "<leader>1 File explorer"
let g:WhichKeyDesc_fileexplorer_projectview = "<leader>2 Select in project view"

" Location (leader l)
let g:WhichKeyDesc_leader_location = "<leader>l Location actions"
let g:WhichKeyDesc_location_recentlocs = "<leader>lr Recent locations"
let g:WhichKeyDesc_location_localhistory = "<leader>lh Local history"

" Display Modes (leader m)
let g:WhichKeyDesc_leader_display = "<leader>m Display modes"
let g:WhichKeyDesc_display_distractionfreemode = "<leader>md Toggle distraction free mode"
let g:WhichKeyDesc_display_zenmode = "<leader>mz Toggle Zen mode"
let g:WhichKeyDesc_display_fullscreen = "<leader>mf Toggle full screen"
let g:WhichKeyDesc_display_toggle_rendered_view = "<leader>mt Toggle rendered view"

let g:WhichKeyDesc_source = "<leader>9 Source .ideavimrc"

